<h1>Tweets</h1>

<%= form_tag(search_and_save_path, :method => "get") do %>
  <%= label_tag(:q, "Search on twitter.com and save tweets for") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Buscar") %>
<% end %>

<%= form_tag(search_path, :method => "get") do %>
  <%= label_tag(:q, "Search tweets locally") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Buscar") %>
<% end %>

<p>Currently <%= @all %> tweets mapped.</p>

<% @tweets.each do |tweet| %>
    <div class=tweets>
      <p><%= tweet.text %></p>
      <span><%= tweet.from_user %> . <%= tweet.created_at %></span>
    </div>
<% end %>

