

<h1>Listing tweets for <%= params[:q] %></h1>

<p class=><%= @tweets.count %> tweets encontrados.</p>

<p><%= link_to "voltar para todos os tweets", root_path %>

<% @tweets.each do |t| %> 
  <div class=tweets>
    <p><%= t.text %></p>
    <span><%= t.from_user %> . <%= t.created_at %></span>
  </div>
<% end %>


